{% extends 'kiosk/base.html' %}
{% block content %}
<div class="text-center max-w-4xl mx-auto">
    <h1 class="text-4xl font-black text-gray-900 mb-10">Choisissez le montant à investir</h1>
    <form method="POST" class="grid grid-cols-3 gap-4 mb-8">
        {% csrf_token %}
        <button type="submit" name="montant" value="20" class="bg-gray-100 hover:bg-teal-50 hover:text-[#00a896] font-black text-2xl py-6 rounded-xl transition">20 €</button>
        <button type="submit" name="montant" value="50" class="bg-gray-100 hover:bg-teal-50 hover:text-[#00a896] font-black text-2xl py-6 rounded-xl transition">50 €</button>
        <button type="submit" name="montant" value="100" class="bg-gray-100 hover:bg-teal-50 hover:text-[#00a896] font-black text-2xl py-6 rounded-xl transition">100 €</button>
        <button type="submit" name="montant" value="200" class="bg-gray-100 hover:bg-teal-50 hover:text-[#00a896] font-black text-2xl py-6 rounded-xl transition">200 €</button>
        <button type="submit" name="montant" value="500" class="bg-gray-100 hover:bg-teal-50 hover:text-[#00a896] font-black text-2xl py-6 rounded-xl transition">500 €</button>
        
        <!-- Bouton Autre Montant -->
        <a href="{% url 'autre_montant' %}" class="bg-slate-900 text-white font-black text-xl py-6 rounded-xl transition flex items-center justify-center hover:bg-slate-800">
            Autre montant
        </a>
    </form>
</div>
{% endblock %}